body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 400px;
   margin-left:  30%;
   margin-top: 50px;
    
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.select {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.tables {
    display: block;
    color: #d4740d;
}

.table {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1;
    min-width: 250px;
}

.table h2 {
    margin-top: 0;
}

.order {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 20px bold;
    color: #4bcc00;
}
.orders{
    margin-bottom: 15px;
    justify-content: space-between;
    color: #d7b735;
}
.delete-button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 20px;

}

.delete-button:hover {
    background-color: #cc0000;
}
